{% extends 'app/base.html' %} 

{% block title %} Browse Items {% endblock %}

{%block content %}
    <div class="grid grid-cols-4 gap-4 pb-6">
        <div class="col-span-1 bg-gray-100 px-3 py-2">
            <form action="{% url 'browse' %}" method="get">
                <input type="text" name="query" class="w-full py-4 px-6 border rounded-xl" value="{{ query }}" placeholder="Search items here...">

                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            </form>

            <hr class="my-6">

            <p class="text-lg">Categories</p>
            <ul class="font-semibold">
                {% for category in categories %}
                    <a href="{% url 'browse' %}?query={{ query }}&category={{ category.slug }}">
                        <li class="py-2 px-2 rounded-xl hover:bg-gray-200 {% if category.slug == category_slug %} bg-gray-200 {% endif %}">{{ category.name }}</li>
                    </a>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <p class="font-semibold">Clear filters</p>
            <a href="{% url 'browse' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a>
          
        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% if items %}
                    {% for item in items %}
                        <div class="bg-white border border-gray-200 rounded-xl shadow dark:border-gray-700">
                            <a href="{{ item.get_absolute_url }}">
                                <div>
                                    <img src="{{ item.image_card.url }}" class="rounded-t-xl w-full">
                                </div>
                                <div class="p-6 bg-white rounded-b-xl">
                                    <h2 class="text-2xl capitalize">{{ item.name }}</h2>
                                    <p class="text-gray-500">Price: {{ item.price|floatformat }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="text-3xl font-semibold pt-2 text-red-500">Oopps!!! No Item found.</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
