{% extends 'app/base.html' %} 

{% block title %} Browse Items {% endblock %}

{%block content %}
    <div class="min-h-[35rem]">
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm rounded-lg sm:hidden hover:bg-gray-100">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
        </button>
        <aside id="default-sidebar" class="absolute pt-9 pl-3 z-40 w-64 text-white/90 transition-transform -translate-x-full md:block sm:translate-x-0" aria-label="Sidebar">
            <div class="px-3 py-4 overflow-y-auto bg-gray-800 rounded-xl shadow">
                <ul class="space-y-2 font-medium">
                    <li>
                        <form action="{% url 'browse' %}" method="get">
                            <input type="text" name="query" class="w-full py-4 px-6 rounded-xl text-black outline-none border-none" value="{{ query }}" placeholder="Search items here...">
            
                            <button class="mt-2 py-2 px-4 bg-teal-600 hover:bg-teal-700 text-white rounded-xl">Search</button>
                        </form>
                    </li>
                    <li class=" border-t">
                        <div class="text-white/90 rounded-lg font-bold py-4">
                            <p>Categories</p>
                        </div>
                        <ul class="font-semibold">
                            {% for category in categories %}
                                <a href="{% url 'browse' %}?query={{ query }}&category={{ category.slug }}">
                                    <li class="py-2 pl-4 rounded-xl hover:bg-gray-200/40 {% if category.slug == category_slug %} bg-gray-600 {% endif %}">{{ category.name }}</li>
                                </a>
                            {% endfor %}
                        </ul>
                        
                    </li>
                    <li>
                        <p class="font-semibold border-t pt-4">Clear filters</p>
                        <a href="{% url 'browse' %}" class="mt-2 py-2 px-6 inline-block bg-yellow-500/80 hover:bg-yellow-600 rounded-xl">Clear</a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="p-4 sm:ml-64">
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-3">
                    {% for item in items %}
                        <div class="bg-white border border-gray-200 rounded-xl shadow">
                            <a href="{{ item.get_absolute_url }}">
                                <div>
                                    <img src="{{ item.image_card.url }}" class="rounded-t-xl w-full">
                                </div>
                                <div class="p-6 bg-white rounded-b-xl">
                                    <h2 class="text-2xl capitalize font-semibold tracking-tight">{{ item.name }}</h2>
                                    <p class="text-gray-500">Price: {{ item.price|floatformat }}</p>
                                </div>
                            </a>
                        </div>
                    {% empty %}
                        <h2 class="text-3xl font-semibold pt-2 text-red-500/85">Oopps!!! No Product found.</h2>
                    {% endfor %}
            </div>
        </div>
    </div>
 
{% endblock %}
