{% extends 'app/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-slate-100 rounded-xl min-h-[30rem]">
        <h2 class="mb-12 text-3xl md:text-4xl font-bold text-teal-600 text-center">My Products</h2>
        {% if items %}
            <div class="grid grid-cols-3 gap-3">
                {% for item in items %}
                    <div>
                        <a href="{{ item.get_absolute_url }}">
                            <div>
                                <img src="{{ item.image_card.url }}" class="rounded-t-xl w-full">
                            </div>
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl capitalize font-semibold">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price|floatformat }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-xl text-center">You haven't added any products yet.</h3>
            <p class="text-center mt-2"><a href="{% url 'new-item' %}" class="text-base hover:underline font-semibold">Click here </a> to
                <span class=""> "Add New Product"</span>
            </p>
        {% endif %}

    </div>
{% endblock %}